.search {
  width: 58.1%;
}

.search_title {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
.search_inner_suffix {
  cursor: pointer;
}

.preloader {
  display: flex;
  justify-content: center;
}
